{
	order forward_proxy before file_server 
	http_port 8880 # 设置 HTTP 端口为 8880
}

:8080, example.com:8080 {
	tls me@gmail.com 

	route {
		forward_proxy {
			basic_auth admin passeway 
			hide_ip # 隐藏客户端 IP 地址
			hide_via # 隐藏代理 Via 头
			probe_resistance # 启用探测抗性功能，防止代理检测
		}
		file_server {
			root /var/www/html # 指定文件服务器的根目录
		}
	}
}

example.com {
	route /xray/* {
		reverse_proxy http://127.0.0.1:8443 # 反向代理到本地 127.0.0.1:8443
	}

	file_server {
		root /var/www/html # 指定文件服务器的根目录
	}
}


# 代理本地 web 服务
{
	order forward_proxy before reverse_proxy # 
}

:443 example.com {
	tls me@gmail.com 
	route {
		forward_proxy {
			basic_auth admin passeway 
			hide_ip # 隐藏客户端 IP 地址
			hide_via # 隐藏代理 Via 头
			probe_resistance # 启用探测抗性功能，防止代理检测
		}
		reverse_proxy http://127.0.0.1:5212 # 反向代理到本地 127.0.0.1:5212
	}
}

example.com {
	route /xray/* {
		reverse_proxy http://127.0.0.1:8443
	}

	file_server {
		root /var/www/html
	}
}



#代理加密DNS服务
dns.passeway.de {
	reverse_proxy /dns-query https://dns.google {
		header_up Host {upstream_hostport}
	}
	reverse_proxy https://bing.com {
		header_up Host {upstream_hostport}
	}
}
